# Configuração do Netlify
[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer"

# Redirects e rewrites
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
